.acteur {
  display: grid;
  grid-template-rows: max-content max-content auto;
  grid-template-columns: max-content auto;
  column-gap: 0.75rem
    /* 16px * 0.75 = 12px */
  ;
  row-gap: 0.375rem;
  /* 16px * 0.375 = 6px */
}

.nom {
  font-size: 1.25rem;
  font-weight: 600;
}

.portrait {
  grid-row: 1/4;
}

.portrait img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.flag {
  height: 1rem;
  vertical-align: text-bottom;
}

.count::before {
  content: attr(data-count);
  margin-right: 0.4em;
  display: inline-block;
  /* bloc dans le texte */
  font-family: monospace;
  /* 13px root em */
  font-size: 0.846rem;
  /* 13px * 0.846 = 11px */
  width: 1.82em;
  /* rem : font-size root 16px */
  line-height: 1.82em;
  /* font-size elt courant = 11px */
  /* 1.82 * 11 = 20.02px */
  text-align: center;
  color: #000;
  background-color: #fecc00;
  border-radius: 50%;
}
