.film {
  display: grid;
  grid-template-rows: repeat(5, max-content) auto;
  grid-template-columns: max-content auto;
  column-gap: 0.75rem
    /* 16px * 0.75 = 12px */
  ;
  row-gap: 0.375rem;
  /* 16px * 0.375 = 6px */
}

.poster {
  grid-row: 1/7;
}

.poster img {
  width: 150px;
  height: auto;
}

.titre {
  font-size: 1.25rem;
  font-weight: 600;
}

.bouton {
  display: inline-block;
  background-color: #fecc00;
  font-size: 0.6878rem;
  /* 11px */
  padding: 0.5rem 1rem;
  /* 8px 16px */
  line-height: 1rem;
  /* 16px */
  text-transform: uppercase;
  border-radius: 2px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 1.25rem;
  margin-right: 0.625rem;
}

.bouton:hover {
  background-color: #eabb00;
}
